{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="../../public/css/setting.css">
<link rel="stylesheet" href="../../public/css/backstage.css">
{{/block}}

{{block 'body'}}
<section class="container">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav-sidebar">
          <li class="bkta active"><a href="#"><h2 class="bh"id="white">后台</h2><span class="sr-only"></span></a></li>
          <li class="bkta"><a href="/backstage">全部博客<span class="sr-only"></span></a></li>
          <li class="bkta"><a href="/backsort">博客分类</a></li>
        </ul>
      
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        

        <h2 class="sub-header bh">全部博客</h2>
        <div class="table-responsive">
          <table class="table table-striped">
           
            <thead>
              <tr class="head">
                <th>博客id</th>
                <th>博客名称</th>
                <th>功能</th>
              </tr>
            </thead>
        
            <tbody>
              {{each Blogs}}
              <tr>
                <td class="t-left">{{$value._id}}</td>
                <td>{{$value.title}}</td>
                <td><a href="/blog?id={{$value._id}}">查看</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/backstage/delete?id={{$value._id}}">删除</a></td>
              </tr>
              {{/each}}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{{/block}}
