<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/blog/">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/examples/blog/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">首页</a>
          <a class="blog-nav-item" href="#">热门推荐</a>
          <a class="blog-nav-item" href="/blog1">冬奥会</a>
          <a class="blog-nav-item" href="#">同城</a>
          <a class="blog-nav-item" href="/blog2">抗疫</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">抗疫2021</h1>
        <p class="lead blog-description">波折与希望交织的一年</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title"></h2>
            <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
            <img src="../public/img/7.jpg" alt="">
            <p>时至2021年岁末，新冠疫情这场百年未遇的全球重大公共卫生危机依然复杂严峻。

              回首这一年，大规模疫苗接种助力世界阻击疫情，但病毒频繁变异，变异毒株德尔塔和奥密克戎先后袭来，发展中国家尤其最不发达国家深陷“免疫鸿沟”，个别西方国家将病毒溯源政治化制造分裂，全球抗疫之路充满波折。</p>
            <hr>
            <p>北京冬奥会和冬残奥会吉祥物

              专家评审委员会主席蒋效愚
              
              北京冬奥组委文化活动部
              
              形象景观艺术总监林存真
              
              向您讲述“冰墩墩”、“雪容融”
              
              设计背后的故事</p>
            <blockquote>
              
            </blockquote>
            <img src="../public/img/5.jpg" alt="">
            <p></p>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span>afsdsdaf</span> commented 
                <span>24 minutes ago</span>
                <span class="action">
                  <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
                  <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
                  <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
                </span>
              </div>
              <div class="panel-body">
                评论测试
              </div>
            </div>
            <hr>
           
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span>saf</span> commented 
                <span>24 minutes ago</span>
                <span class="action">
                  <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
                  <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
                  <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
                </span>
              </div>
              <div class="panel-body">
                评论测试
              </div>
            </div>
            <hr>
            
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <div class="panel panel-default">
              <div class="panel-heading">
                <span>fdasfdsa</span> commented 
                <span>24 minutes ago</span>
                <span class="action">
                  <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
                  <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
                  <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
                </span>
              </div>
              <div class="panel-body">
                评论测试
              </div>
            </div>
            <hr>
            <form>
              <div class="form-group">
                <label for="exampleInputPassword1">添加回复</label>
                <textarea class="form-control" name="" id="" cols="10" rows="10"></textarea>
              </div>
              <button type="submit" class="btn btn-success">回复</button>
            </form>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="/">回到首页</a></li>
              <li><a href="/blog2">下一篇</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            
          <div class="sidebar-module">
            <h4>热门推荐</h4>
            <ol class="list-unstyled">
              <li><a href="/blog1">冬奥会</a></li>
              <li><a href="#">同城</a></li>
              <li><a href="/blog2">抗疫</a></li>
              <li><a href="#">乌克兰</a></li>
              
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>其他相关</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.30/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
